@layer utilities {
  /*헤더 높이 고정: 48px*/
  .root-min-h {
    min-height: 100dvh;
    padding-top: 3rem;
    padding-bottom: env(safe-area-inset-bottom);
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
