@import "tailwindcss";

@import "./_theme.css";
@import "./_base.css";
@import "./_utilities.css";

:root {
  --background: #ffffff;
  --foreground: #020617;

  --line-height-base: 1.5;
  --font-weight-base: 400; /*regular*/
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-family-sans: var(--font-pretendard), -apple-system, "Segoe UI",
    "Malgun Gothic", "Ubuntu", "Noto Sans KR", sans-serif;

  --line-height-base: var(--line-height-base);
  --font-weight-base: var(--font-weight-base); /*normal*/
}
